*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/tasks.xml
.idea/vcs.xml
app/build/
*.properties
app/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
*.ap_
app/build/generated/
*.json
app/build/intermediates/blame/res/debug/single/drawable-xxhdpi-v4.json
app/build/intermediates/restart-dex/debug/tmp-build-info.xml
app/build/generated/source/r/debug/android/support/v7/appcompat/R.java
app/build/generated/source/r/debug/android/support/v7/appcompat/R.java
*.json
*.ap_
